.container {
  animation: scroll 70s linear infinite;
  background-color: #00b2c9;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  color: white;min-height: 100vh;
  min-width: 300px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  width: 100%;
}

.title {
  display: flex;
  height: 280px;
  justify-content: center;
}

.title img {
  height: 100%;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.pageName {
  align-items: center;
  display: flex;
  justify-content: center;
}

.beer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
}

.beer img {
  height: 250px;
}

.beerPic {
  display: flex;
  justify-content: center;
}

.beerButton {
  display: flex;
  justify-content: space-around;
}

.formSort {
  border-bottom: 2px solid white;
  color: white;
  display: flex;
  display: inline-flex;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
}
.formSort h4 {
  align-items: center;
  justify-content: flex-start;
}

.inSort {
  align-items: center;
  padding-top: 1rem;
}

.inSort label {
  padding-right: 1rem;
}

.listAction {
  display: flex;
  margin: 0 auto;
  overflow-x: scroll;
  padding-top: 1rem;
}

.beerContainer {
  margin: auto;
  width: 600px;
}

.beerOverview {
  padding: 2rem 0.8rem 0 0.8rem;
}

.container h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 1rem;
}

.container img {
  height: 300px;
}

.detailPic {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.detail h1{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.detail p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.detailPic img {
  padding-left: 4rem;
}


@keyframes scroll {
  0%{
    background-position: 0px 0px;
  }
  100%{
    background-position: 1000px 1000px;
  }
}

@media (prefers-reduced-motion) {
  .container {
    animation: scroll 200s linear infinite;
  }
}

@media all and (max-height: 900px) {
  .listAction {
    padding-top: 2rem;
  }
}

@media all and (max-width: 640px) {
  .beerContainer {
    width: auto;
  }
  .detailPic {
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
  }
  .detailPic img{
    padding-left: 0rem;
    padding-top: 1rem;
  }
}