.title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.beer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
}

.beer img {
  height: 250px;
}

.beerPic {
  display: flex;
  justify-content: center;
}

.beerButton {
  display: flex;
  justify-content: space-around;
}

.formSort {
  display: flex;
  border-bottom: 2px solid white;
  color: white;
  display: inline-flex;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
}
.formSort h4 {
  justify-content: flex-start;
  align-items: center;
}

.inSort {
  align-items: center;
}

.inSort label {
  padding-right: 1rem;
}

.listAction {
  display: flex;
  margin: 0 auto;
  padding-top: 1rem;
  overflow-x: scroll;
}

.testB {
  animation: scroll 70s linear infinite;
  background-color: #00b2c9;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  min-height: 100vh;
  min-width: 300px;
  width: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  color: white;
}


.beerContainer {
  width: 600px;
  margin: auto;
}

.beerOverview {
  padding: 2rem 0.8rem 0 0.8rem;
}

.testB h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 1rem;
}

.testB img {
  height: 300px;
}

.detailPic {
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
}

.detail h1{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.detail p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.detailPic img {
  padding-left: 4rem;
}


@keyframes scroll {
  0%{
    background-position: 0px 0px;
  }
  100%{
    background-position: 1500px 1500px;
  }
}

@media (prefers-reduced-motion) {
  .testB {
    animation: scroll 200s linear infinite;
  }
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@media all and (max-height: 900px) {
  .title {
    padding-top: 1rem;
  }
  .listAction {
    padding-top: 2rem;
  }
}

@media all and (max-width: 640px) {
  .beerContainer {
    width: auto;
  }
  .detailPic {
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
  }
  .detailPic img{
    padding-left: 0rem;
    padding-top: 1rem;
  }
}